<div class="item">
    <article class="article_item article_item_masonry">
      <div class="article_image">
        {% if article.image %}
          {% include 'blog-image-item' blog: blog, article: article %}
        {% endif %}
      </div>
      <div class="article_caption {% if article.image == blank %} article_caption_no_image  {% endif %}">
        
        {%- if item.blog_show_info -%}
          <div class="article_info">
                {%- if item.blog_show_date -%}
                  <span class="d-flex align-items-center">
                    <time class="article_time" datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M' }}">
                      {{ article.published_at | date: '%b %d, %Y' }}
                    </time>
                  </span>
                {%- endif -%}
                
                {%- if article.tags != blank and item.blog_show_tags -%}
                  {%- for tag in article.tags limit: 3 -%}
                    
                    <a class="d-flex align-items-center" href="{{ blog.url }}/tagged/{{ tag | handle }}">
                      <span class="divider">&#124;</span>
                      {{ tag }}
                    </a>
                  {%- endfor -%}
                {%- endif -%}
  
            {%- if blog.comments_enabled? or blogs[item.section_blog].comments_enabled? and item.show_comments -%}
                  <span class="post-comments">
                     <span class="divider">&#124;</span>
			    	<span class="comments_count">{{ article.comments_count }} {{ 'blog.articles.comments' | t }}</span>
                  </span>
                {%- endif -%}
                
            {%- if item.blog_show_author -%}
              <span class="d-flex align-items-center">
                <span class="divider">&#124;</span>
                {{ 'blog.articles.by_author' | t }}
                <em>{{ article.author }}</em>
              </span>
            {%- endif -%}
            
          </div>
        {%- endif -%}
        <h2 class="article_title h5">
          <a href="{{ article.url }}">{{ article.title | truncate: 50 }}</a>
        </h2>
        <div class="rte article_description {% if article.image == blank %} d-block {% endif %}">
          {% if article.excerpt != blank %}
            {{ article.excerpt }}
          {% elsif article.content != blank %}
              {{ article.content | strip_html | truncatewords: 20 }}
          {% endif %}
        </div>
        <a class="mt-2 mt-md-3 article_btn" href="{{ article.url }}">{{ 'blog.articles.read_more' | t }}</a>
      </div>
    </article>
</div>