<div id="cart_added">
    <div class="cart_added_wrapper">
      <div class="h6 cart-title">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M10.0002 15.172L19.1922 5.979L20.6072 7.393L10.0002 18L3.63623 11.636L5.05023 10.222L10.0002 15.172Z" fill="{{ settings.color_black }}"/>
        </svg>
        <span class="ml-2">{{ 'pages.cart.product_added' | t }}</span>
      </div>
      
      <div class="cart_items">
        <div class="cart_added__1" id="cart_added__img"></div>
        <div class="item_desc">
          <div id="cart_added__name" class="product_title"></div>
          <div class="total-wrap">
            <div id="cart_added__quantity"><span class="label">{{ 'pages.cart.product_quantity' | t }}:</span><span class="value"></span></div>
            <div id="cart_added__price"><span class="label">Price: </span><span class="value product-price"></span></div>
            <div id="cart_added__total_price"><span class="label">Total: </span><span class="value product-price"></span></div>
          </div>
        </div>
      </div>
      
      <div class="cart-buttons mt-3">
        <a class="btn btn-primary {% if settings.use_lg %} btn-gradient {% endif %} d-block w-100" href="/cart"><span>{{ 'pages.cart.go_to_cart' | t }}</span></a>
        <a class="btn btn-secondary d-block w-100 mt-2" id="cart_added__close" href="#"><span>{{ 'pages.cart.continue_shopping' | t }}</span></a>
      </div>
    </div>
  </div>
