<div class="header-bottom">
	<div class="container">
		<div class="row align-items-center justify-content-md-between flex-md-row flex-column" style="min-height: {{ ss_item.hbbheight }}px;">
			<div class="col-12">
				<ul class="txt-linklist">
					{% if ss_item.bottom_panel_text.size > 0 or ss_item.bottom_panel_link.size > 0 %}
						<li class="text-center">
							{% if ss_item.bottom_panel_link.size > 0 %}
							<a class="link_inverted" href="{{ ss_item.bottom_panel_link }}">
								{% else %}
								<span>
						{% endif %}
									{{ ss_item.bottom_panel_text }}
									{% if ss_item.bottom_panel_link.size > 0 %}
							</a>
						{% else %}
							</span>
							{% endif %}
						</li>
					{% endif %}
					
					{% if ss_item.bottom_panel_text_2.size > 0 or ss_item.bottom_panel_link_2.size > 0 %}
						<li class="text-center">
							{% if ss_item.bottom_panel_link_2.size > 0 %}
							<a class="link_inverted" href="{{ ss_item.bottom_panel_link_2 }}">
								{% else %}
								<span>
						{% endif %}
									{{ ss_item.bottom_panel_text_2 }}
									{% if ss_item.bottom_panel_link_2.size > 0 %}
							</a>
						{% else %}
							</span>
							{% endif %}
						</li>
					{% endif %}
					
					{% if ss_item.bottom_panel_text_3.size > 0 or ss_item.bottom_panel_link_3.size > 0 %}
						<li class="text-center">
							{% if ss_item.bottom_panel_link_3.size > 0 %}
							<a class="link_inverted" href="{{ ss_item.bottom_panel_link_3 }}">
								{% else %}
								<span>
						{% endif %}
									{{ ss_item.bottom_panel_text_3 }}
									{% if ss_item.bottom_panel_link_3.size > 0 %}
							</a>
						{% else %}
							</span>
							{% endif %}
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>