<ul class="social_menu{% unless style == 'type_1' %} social_menu_alternate{% endunless %} {{ class }}">

	{% if settings.social_inst.size > 0 %}
		<li><a href="{{ settings.social_inst }}">
				<svg class="icon" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M8 1.4375C9.07292 1.4375 9.77083 1.44271 10.0938 1.45312C10.4271 1.45312 10.8073 1.46354 11.2344 1.48438C11.6927 1.50521 12.125 1.57812 12.5312 1.70312C12.9479 1.81771 13.3177 2.03646 13.6406 2.35938C13.9635 2.68229 14.1823 3.05208 14.2969 3.46875C14.4219 3.875 14.4948 4.30729 14.5156 4.76562C14.5365 5.19271 14.5469 5.57292 14.5469 5.90625C14.5573 6.22917 14.5625 6.92708 14.5625 8C14.5625 9.07292 14.5573 9.77604 14.5469 10.1094C14.5469 10.4323 14.5365 10.8073 14.5156 11.2344C14.4948 11.6927 14.4219 12.1302 14.2969 12.5469C14.1823 12.9531 13.9635 13.3177 13.6406 13.6406C13.3177 13.9635 12.9479 14.1875 12.5312 14.3125C12.125 14.4271 11.6927 14.4948 11.2344 14.5156C10.8073 14.5365 10.4271 14.5521 10.0938 14.5625C9.77083 14.5625 9.07292 14.5625 8 14.5625C6.92708 14.5625 6.22396 14.5625 5.89062 14.5625C5.56771 14.5521 5.19271 14.5365 4.76562 14.5156C4.30729 14.4948 3.86979 14.4271 3.45312 14.3125C3.04688 14.1875 2.68229 13.9635 2.35938 13.6406C2.03646 13.3177 1.8125 12.9531 1.6875 12.5469C1.57292 12.1302 1.50521 11.6927 1.48438 11.2344C1.46354 10.8073 1.44792 10.4323 1.4375 10.1094C1.4375 9.77604 1.4375 9.07292 1.4375 8C1.4375 6.92708 1.4375 6.22917 1.4375 5.90625C1.44792 5.57292 1.46354 5.19271 1.48438 4.76562C1.50521 4.30729 1.57292 3.875 1.6875 3.46875C1.8125 3.05208 2.03646 2.68229 2.35938 2.35938C2.68229 2.03646 3.04688 1.81771 3.45312 1.70312C3.86979 1.57812 4.30729 1.50521 4.76562 1.48438C5.19271 1.46354 5.56771 1.45312 5.89062 1.45312C6.22396 1.44271 6.92708 1.4375 8 1.4375ZM8 0C6.91667 0 6.20312 0.00520833 5.85938 0.015625C5.51562 0.015625 5.13021 0.0260417 4.70312 0.046875C4.04688 0.078125 3.4375 0.1875 2.875 0.375C2.3125 0.5625 1.80208 0.885417 1.34375 1.34375C0.885417 1.80208 0.5625 2.3125 0.375 2.875C0.1875 3.4375 0.078125 4.04688 0.046875 4.70312C0.0260417 5.13021 0.0104167 5.51562 0 5.85938C0 6.20312 0 6.91667 0 8C0 9.08333 0 9.79688 0 10.1406C0.0104167 10.4844 0.0260417 10.8698 0.046875 11.2969C0.078125 11.9531 0.1875 12.5625 0.375 13.125C0.5625 13.6875 0.885417 14.1979 1.34375 14.6562C1.80208 15.1146 2.3125 15.4375 2.875 15.625C3.4375 15.8125 4.04688 15.9219 4.70312 15.9531C5.13021 15.974 5.51562 15.9844 5.85938 15.9844C6.20312 15.9948 6.91667 16 8 16C9.08333 16 9.79688 15.9948 10.1406 15.9844C10.4844 15.9844 10.8698 15.974 11.2969 15.9531C11.9531 15.9219 12.5625 15.8125 13.125 15.625C13.6875 15.4375 14.1979 15.1146 14.6562 14.6562C15.1146 14.1979 15.4375 13.6875 15.625 13.125C15.8125 12.5625 15.9219 11.9531 15.9531 11.2969C15.974 10.8698 15.9844 10.4844 15.9844 10.1406C15.9948 9.79688 16 9.08333 16 8C16 6.91667 15.9948 6.20312 15.9844 5.85938C15.9844 5.51562 15.974 5.13021 15.9531 4.70312C15.9219 4.04688 15.8125 3.4375 15.625 2.875C15.4375 2.3125 15.1146 1.80208 14.6562 1.34375C14.1979 0.885417 13.6875 0.5625 13.125 0.375C12.5625 0.1875 11.9531 0.078125 11.2969 0.046875C10.8698 0.0260417 10.4844 0.015625 10.1406 0.015625C9.79688 0.00520833 9.08333 0 8 0ZM8 3.89062C7.4375 3.89062 6.90625 4 6.40625 4.21875C5.90625 4.42708 5.46875 4.71875 5.09375 5.09375C4.71875 5.46875 4.42188 5.90625 4.20312 6.40625C3.99479 6.90625 3.89062 7.4375 3.89062 8C3.89062 8.5625 3.99479 9.09375 4.20312 9.59375C4.42188 10.0938 4.71875 10.5312 5.09375 10.9062C5.46875 11.2812 5.90625 11.5781 6.40625 11.7969C6.90625 12.0052 7.4375 12.1094 8 12.1094C8.5625 12.1094 9.09375 12.0052 9.59375 11.7969C10.0938 11.5781 10.5312 11.2812 10.9062 10.9062C11.2812 10.5312 11.5729 10.0938 11.7812 9.59375C12 9.09375 12.1094 8.5625 12.1094 8C12.1094 7.4375 12 6.90625 11.7812 6.40625C11.5729 5.90625 11.2812 5.46875 10.9062 5.09375C10.5312 4.71875 10.0938 4.42708 9.59375 4.21875C9.09375 4 8.5625 3.89062 8 3.89062ZM8 10.6719C7.26042 10.6719 6.63021 10.4115 6.10938 9.89062C5.58854 9.36979 5.32812 8.73958 5.32812 8C5.32812 7.26042 5.58854 6.63021 6.10938 6.10938C6.63021 5.58854 7.26042 5.32812 8 5.32812C8.73958 5.32812 9.36979 5.58854 9.89062 6.10938C10.4115 6.63021 10.6719 7.26042 10.6719 8C10.6719 8.73958 10.4115 9.36979 9.89062 9.89062C9.36979 10.4115 8.73958 10.6719 8 10.6719ZM13.2344 3.73438C13.2344 3.99479 13.1406 4.21875 12.9531 4.40625C12.7656 4.59375 12.5365 4.6875 12.2656 4.6875C12.0052 4.6875 11.7812 4.59375 11.5938 4.40625C11.4062 4.21875 11.3125 3.99479 11.3125 3.73438C11.3125 3.46354 11.4062 3.23438 11.5938 3.04688C11.7812 2.85938 12.0052 2.76562 12.2656 2.76562C12.5365 2.76562 12.7656 2.85938 12.9531 3.04688C13.1406 3.23438 13.2344 3.46354 13.2344 3.73438Z" />
				</svg>
				{% unless style == 'type_1' %}
					<span>{{ settings.social_inst_text }}</span>
				{% endunless %}
			</a>
		</li>
	{% endif %}

	{% if settings.social_fb.size > 0 %}
		<li><a href="{{ settings.social_fb }}">
				<svg class="icon" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M5.75382 16V9.06667H3.33325V5.86667H5.75382V3.63333C5.75382 3.02222 5.8441 2.48889 6.02466 2.03333C6.2165 1.57778 6.47605 1.2 6.8033 0.9C7.14185 0.6 7.54245 0.377778 8.00513 0.233333C8.4678 0.0777778 8.97561 0 9.52856 0C10.0477 0 10.516 0.0166667 10.9335 0.05C11.351 0.0722222 11.6219 0.0944444 11.746 0.116667V2.65H10.2226C9.62448 2.65 9.22952 2.77778 9.03768 3.03333C8.84584 3.28889 8.74992 3.62222 8.74992 4.03333V5.86667H11.9999L10.9166 9.06667H8.74992V16H5.75382Z"/>
				</svg>
				
				{% unless style == 'type_1' %}
					<span>{{ settings.social_fb_text }}</span>
				{% endunless %}
			</a>
		</li>
	{% endif %}
	
	
	{% if settings.social_yt.size > 0 %}
		<li><a href="{{ settings.social_yt }}">
				<svg class="icon" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M15.8438 5.1065C15.8438 5.1065 15.7969 4.90187 15.7031 4.49261C15.6094 4.08335 15.4427 3.75805 15.2031 3.51669C14.901 3.19138 14.5938 3.00249 14.2812 2.95002C13.9792 2.88706 13.75 2.84508 13.5938 2.82409C13.0417 2.78212 12.4375 2.75064 11.7812 2.72965C11.125 2.70866 10.5156 2.69292 9.95312 2.68243C9.40104 2.67193 8.9375 2.66669 8.5625 2.66669C8.1875 2.66669 8 2.66669 8 2.66669C8 2.66669 7.8125 2.66669 7.4375 2.66669C7.0625 2.66669 6.59375 2.67193 6.03125 2.68243C5.47917 2.69292 4.875 2.70866 4.21875 2.72965C3.5625 2.75064 2.95833 2.78212 2.40625 2.82409C2.25 2.84508 2.01562 2.88706 1.70312 2.95002C1.40104 3.00249 1.09896 3.19138 0.796875 3.51669C0.557292 3.75805 0.390625 4.08335 0.296875 4.49261C0.203125 4.90187 0.15625 5.1065 0.15625 5.1065C0.15625 5.1065 0.130208 5.37934 0.078125 5.92502C0.0260417 6.4707 0 7.06885 0 7.71947V8.94724C0 9.59786 0.0260417 10.196 0.078125 10.7417C0.130208 11.2769 0.15625 11.5445 0.15625 11.5445C0.15625 11.5445 0.203125 11.7543 0.296875 12.1741C0.390625 12.5834 0.557292 12.9087 0.796875 13.15C1.09896 13.4753 1.42188 13.6642 1.76562 13.7167C2.11979 13.7692 2.38542 13.8111 2.5625 13.8426C2.88542 13.8741 3.34896 13.9003 3.95312 13.9213C4.55729 13.9423 5.15625 13.958 5.75 13.9685C6.35417 13.979 6.88021 13.9895 7.32812 14C7.77604 14 8 14 8 14C8 14 8.1875 14 8.5625 14C8.9375 14 9.40104 13.9948 9.95312 13.9843C10.5156 13.9738 11.125 13.958 11.7812 13.9371C12.4375 13.9056 13.0417 13.8688 13.5938 13.8269C13.75 13.8164 13.9792 13.7849 14.2812 13.7324C14.5938 13.6695 14.901 13.4753 15.2031 13.15C15.4427 12.9087 15.6094 12.5834 15.7031 12.1741C15.7969 11.7543 15.8438 11.5445 15.8438 11.5445C15.8438 11.5445 15.8698 11.2769 15.9219 10.7417C15.974 10.196 16 9.59786 16 8.94724V7.71947C16 7.06885 15.974 6.4707 15.9219 5.92502C15.8698 5.37934 15.8438 5.1065 15.8438 5.1065ZM6.34375 10.4269V5.89354L10.6719 8.16021L6.34375 10.4269Z" fill="#797B7E"/>
				</svg>
				{% unless style == 'type_1' %}
					<span>{{ settings.social_yt_text }}</span>
				{% endunless %}
			</a>
		</li>
	{% endif %}
	
	{% if settings.social_tw.size > 0 %}
		<li><a href="{{ settings.social_tw }}">
				<svg class="icon" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M20 4.0024C19.6354 4.17949 19.2513 4.32933 18.8477 4.45192C18.457 4.5609 18.0534 4.64263 17.6367 4.69712C18.0664 4.42468 18.4375 4.08413 18.75 3.67548C19.0625 3.26683 19.2969 2.8105 19.4531 2.30649C19.0495 2.55168 18.6263 2.76282 18.1836 2.9399C17.7539 3.11699 17.3047 3.25321 16.8359 3.34856C16.4714 2.9399 16.0286 2.61298 15.5078 2.36779C14.987 2.1226 14.4336 2 13.8477 2C13.2747 2 12.7409 2.11579 12.2461 2.34736C11.7513 2.5653 11.3151 2.87179 10.9375 3.26683C10.5729 3.64824 10.2799 4.09776 10.0586 4.61538C9.85026 5.13301 9.74609 5.69151 9.74609 6.29087C9.74609 6.45433 9.7526 6.61779 9.76562 6.78125C9.79167 6.94471 9.81771 7.10817 9.84375 7.27163C8.9974 7.23077 8.17057 7.09455 7.36328 6.86298C6.56901 6.63141 5.8138 6.32492 5.09766 5.94351C4.38151 5.54848 3.71094 5.08534 3.08594 4.55409C2.46094 4.02284 1.89453 3.43029 1.38672 2.77644C1.21745 3.10337 1.08073 3.45072 0.976562 3.81851C0.885417 4.17268 0.839844 4.54728 0.839844 4.94231C0.839844 5.69151 1.0026 6.37941 1.32812 7.00601C1.66667 7.63261 2.10938 8.13662 2.65625 8.51803C2.31771 8.50441 1.99219 8.44992 1.67969 8.35457C1.36719 8.25921 1.07422 8.13662 0.800781 7.98678C0.800781 7.98678 0.800781 7.99359 0.800781 8.00721C0.800781 8.02083 0.800781 8.02764 0.800781 8.02764C0.800781 9.07652 1.11328 9.99599 1.73828 10.7861C2.3763 11.5625 3.16406 12.0461 4.10156 12.2368C3.91927 12.2913 3.73698 12.3321 3.55469 12.3594C3.38542 12.3866 3.20312 12.4002 3.00781 12.4002C2.8776 12.4002 2.7474 12.3934 2.61719 12.3798C2.48698 12.3662 2.36328 12.3458 2.24609 12.3185C2.50651 13.1631 2.98177 13.8646 3.67188 14.4231C4.375 14.9816 5.17578 15.2744 6.07422 15.3017C5.37109 15.8738 4.58333 16.3233 3.71094 16.6502C2.85156 16.9772 1.9401 17.1406 0.976562 17.1406C0.807292 17.1406 0.638021 17.1338 0.46875 17.1202C0.3125 17.1066 0.15625 17.0929 0 17.0793C0.455729 17.379 0.93099 17.6514 1.42578 17.8966C1.92057 18.1282 2.42839 18.3257 2.94922 18.4892C3.48307 18.6526 4.02995 18.7821 4.58984 18.8774C5.14974 18.9591 5.71615 19 6.28906 19C8.17708 19 9.84375 18.6322 11.2891 17.8966C12.7474 17.1474 13.9714 16.1871 14.9609 15.0156C15.9505 13.8442 16.6992 12.5365 17.207 11.0925C17.7148 9.63502 17.9688 8.19792 17.9688 6.78125C17.9688 6.69952 17.9622 6.61098 17.9492 6.51562C17.9492 6.42027 17.9492 6.32492 17.9492 6.22957C18.3529 5.92989 18.724 5.59615 19.0625 5.22837C19.4141 4.84696 19.7266 4.4383 20 4.0024Z"/>
				</svg>
				{% unless style == 'type_1' %}
					<span>{{ settings.social_tw_text }}</span>
				{% endunless %}
			</a>
		</li>
	{% endif %}
	

	
	{% if settings.social_linkedin.size > 0 %}
		<li><a href="{{ settings.social_linkedin }}">
				<svg class="icon" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M8.86873 6.64577C8.86873 6.2679 8.86232 5.88981 8.8716 5.51216C8.87582 5.34005 8.82077 5.2754 8.64271 5.27668C7.71645 5.28334 6.79011 5.28296 5.86377 5.27683C5.69401 5.2757 5.63058 5.32206 5.63088 5.50369C5.63563 8.92562 5.63556 12.3476 5.63103 15.7695C5.63073 15.9473 5.68737 16.0007 5.86083 15.9995C6.82978 15.9932 7.7988 15.9926 8.76775 15.9999C8.944 16.0013 8.99347 15.9467 8.99279 15.7707C8.98646 14.1453 8.98442 12.5198 8.99242 10.8944C8.99438 10.4931 9.01896 10.0897 9.0664 9.69119C9.11813 9.25616 9.25705 8.84486 9.56196 8.51304C9.95337 8.08708 10.4618 7.99104 11.0108 8.00133C11.7769 8.01569 12.2544 8.3736 12.4733 9.109C12.6144 9.58291 12.6257 10.0702 12.6259 10.5585C12.6268 12.2878 12.626 14.0172 12.6266 15.7464C12.6267 15.988 12.6344 15.996 12.8713 15.9962C13.8159 15.9969 14.7605 15.9966 15.7051 15.9964C15.9996 15.9964 16.0011 15.996 15.9999 15.7049C15.9913 13.6097 15.9858 11.5145 15.9708 9.41927C15.9662 8.77741 15.8803 8.14273 15.705 7.52402C15.4366 6.57673 14.931 5.80413 14.0024 5.40062C13.0308 4.97844 12.0133 4.90206 10.9846 5.15509C10.0968 5.37348 9.39506 5.8731 8.86873 6.64577ZM3.61312 10.648C3.61312 8.93719 3.6101 7.22645 3.61749 5.51572C3.61825 5.33007 3.56885 5.27449 3.38378 5.276C2.42109 5.28394 1.45825 5.28341 0.495561 5.27638C0.315165 5.27502 0.25438 5.32569 0.254606 5.51428C0.25981 8.92971 0.25981 12.3451 0.254682 15.7605C0.25438 15.9473 0.311696 16.0013 0.494128 15.9999C1.45682 15.9926 2.41958 15.9925 3.38235 16C3.56485 16.0014 3.61847 15.9501 3.61765 15.7619C3.60995 14.0573 3.61312 12.3526 3.61312 10.648ZM0 1.94807C0.000226249 3.01476 0.871436 3.90797 1.93692 3.89731C3.03626 3.88627 3.88937 3.05597 3.88733 1.94587C3.8853 0.816423 3.01688 -0.00624074 1.93488 3.56703e-05C0.781012 0.0067658 0.00203624 0.932726 0 1.94807Z"/>
				</svg>
				
				{% unless style == 'type_1' %}
					<span>{{ settings.social_linkedin_text }}</span>
				{% endunless %}
			
			</a>
		</li>
	{% endif %}
	
	{% if settings.social_pin.size > 0 %}
		<li><a href="{{ settings.social_pin }}">
				<svg class="icon" fill="none" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M16.0002 8.00117C16.0002 12.419 12.4186 16.0004 8.00059 16.0004C3.58252 16.0004 0.000976562 12.419 0.000976562 8.00117C0.000976562 3.58333 3.58252 0.00195312 8.00059 0.00195312C12.4186 0.00195312 16.0002 3.58333 16.0002 8.00117ZM7.62149 10.1613C7.93236 10.3709 8.19774 10.5499 8.66774 10.5852C10.9773 10.7586 12.2673 8.34366 11.9525 6.11371C11.6726 4.13794 9.64527 3.13154 7.48521 3.36663C5.77724 3.55264 4.07443 4.89676 4.00344 6.81641C3.95946 7.98915 4.30158 8.86882 5.44854 9.11583C5.77489 8.55569 5.60423 8.28213 5.4192 7.98554C5.32213 7.82996 5.22112 7.66804 5.18583 7.4551C4.76474 4.92359 8.18909 3.19541 9.9812 4.96378C11.2216 6.18863 10.4051 9.9543 8.40503 9.56334C7.40676 9.36822 7.70351 8.46074 8.00032 7.55304C8.27313 6.71876 8.546 5.8843 7.81346 5.60261C6.57071 5.12424 5.91067 7.06557 6.49987 8.03006C6.40882 8.46694 6.29012 8.89716 6.17017 9.33193C5.83469 10.5479 5.48937 11.7995 5.71171 13.332C6.68834 12.6427 7.01807 11.3231 7.28788 9.94655C7.41018 10.0187 7.51834 10.0917 7.62149 10.1613Z" />
				</svg>
				{% unless style == 'type_1' %}
					<span>{{ settings.social_pin_text }}</span>
				{% endunless %}
			</a>
		</li>
	{% endif %}
</ul>
