{%- assign product = all_products[section.settings.single_product] -%}

{% if product.empty? %}
  {%- assign single_product_exist = false -%}
{% else %}
  {%- assign single_product_exist = true -%}
{% endif %}


<style>
    .index-product-with-text .variant{
        font-size: 12px;
        color: {{ settings.base_font_color }};
        font-weight: 400;
        margin-bottom: 17px;
    }
    .index-product-with-text .variant strong{
        font-size: 12px;
        color: {{ settings.heading_font_color }};
    }

    .index-product-with-text .section_heading{
        text-align: left;
    }

    .index-product-with-text .section_heading {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    @media (min-width: 1200px){
        .index-product-with-text .section_heading {
            margin-bottom: 10px;
            margin-top: 10px;
        }
    }
    .index-product-with-text .productPrice{
        font-weight: 400;
        margin-bottom: 11px;
    }
    .index-product-with-text .section-product-short-desc{
        font-size: 16px;
        line-height: 1.4em;
        margin-bottom: 23px;
        margin-top: 15px;
    }
    .index-product-with-text h6{
        text-transform: none;
    }

    .index-product-with-text.section_template__product .single_product__policy a{
        width: fit-content;
        background: transparent;
    }

    .index-product-with-text.section_template__product .single_product__policy a:hover{
        text-decoration: underline;
        text-underline-offset: 2px;
    }

</style>

{% if single_product_exist %}
  
  {% assign product_image = true %}
  {% if product.images.size == 0 %}
	{% assign product_image = false %}
  {% endif %}
  
  {%- assign productJSON = product | json -%}
  
  <div {% if section.settings.background_toggle %} style="background-color: {{ section.settings.bg_color }}"{% endif %} class="section section_homepage section_product-with-text{% if section.settings.background_toggle %} bg-section{% endif %}" id="index_product_with_text__{{ section.id }}" data-section="{{ section.id }}" data-images="{{ product_image }}">
	{% if section.settings.container_view %}
	<div class="{% if section.settings.container_settings == 'container' %}container{% elsif section.settings.container_settings == 'container-xl' %} container container-xxl{% endif %}">
	  {% endif %}
	  <div class="row" {% if section.settings.row_reverse %}style="flex-direction: row-reverse;" {% endif %}>
		<div class="col-12 col-md-5 order-2 order-md-1 mt-4 mt-md-0">
		  {% if section.settings.productSku %}
			{% assign current_variant = product.selected_or_first_available_variant %}
			<div class="variant"><strong>SKU:</strong> {{ current_variant.sku }}</div>
		  {% endif %}
		  
		  {% if current_variant.inventory_quantity > 0 and section.settings.productQuantity %}
			<div class="variant"><strong>Availability:</strong> {{ current_variant.inventory_quantity }} items</div>
		  {% endif %}
		  
		  
		  <h2 class="section_heading h3"><a href="{{ product.url }}">{{ product.title | truncate: 45 }}</a></h2>
		  
		  {% if section.settings.productPrice %}
			<h6 class="productPrice">
			  {{ product.price | money }}
			</h6>
		  {% endif %}
		  
		  
		  
		  <p class="section-product-short-desc">
			{{ product.description | strip_html | truncate: 200 }}
		  </p>
		  {% if section.settings.product_short_info.size > 0 %}
			<div class="section-product-short-info">
			  {{ section.settings.product_short_info }}
			</div>
		  {% endif %}
		  
		  <h6 class="variant"><strong>Vendor:</strong> {{ product.vendor }}</h6>
		  
		  
		  
		  {% if section.settings.productType %}
			<div class="variant">
			  <strong>Product type:</strong> {{ product.type }}
			</div>
		  
		  {% endif %}
		  
		  {% if section.settings.productBarcode %}
			<div class="variant">
			  {% assign current_variant_barcode = product.selected_or_first_available_variant %}
			  <strong>Barcode:</strong> <span class="variant-barcode">{{ current_variant_barcode.barcode }}</span>
			</div>
		  
		  {% endif %}
		  
		  
		  {% if section.settings.productTags %}
			<div class="variant">
			  <strong>Product tags: </strong>
			  {% for tag in product.tags limit: 7 %}
				{% if forloop.last == true %}
				  {{ tag }}
				{% else %}
				  {{ tag | append: "," }}
				{% endif %}
			  
			  {% endfor %}
			</div>
		  
		  {% endif %}
		  
		  
		  
		  {% if section.settings.productCollections %}
			<div class="variant">
			  <strong>Product Collections: </strong>
			  {% for collection in product.collections limit: 7 %}
				
				{% if forloop.last == true %}
				  {{ collection.title }}
				{% else %}
				  {{ collection.title | append: "," }}
				{% endif %}
			  {% endfor %}
			
			</div>
		  
		  {% endif %}
		  
		  
		  {% if section.settings.btn_text.size > 0 %}
			<a href="{{ product.url }}" class="btn btn-primary {% if settings.use_lg %} btn-gradient {% endif %} btn-lg mt-3">
			  {{ section.settings.btn_text }}
			</a>
		  {% endif %}
		  
		  
		  {% if section.settings.show_policy %}
			<div class="single_product__policy mb-3">
			  {% if settings.delivery_page.size > 0 %}
				<a class="item_policy__link" href="{{ settings.delivery_page }}">
				  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M6.72375 13.5C6.63459 14.1257 6.32266 14.6983 5.84526 15.1125C5.36786 15.5267 4.75704 15.7547 4.125 15.7547C3.49296 15.7547 2.88214 15.5267 2.40474 15.1125C1.92734 14.6983 1.61541 14.1257 1.52625 13.5H0.75V4.5C0.75 4.30109 0.829018 4.11032 0.96967 3.96967C1.11032 3.82902 1.30109 3.75 1.5 3.75H12C12.1989 3.75 12.3897 3.82902 12.5303 3.96967C12.671 4.11032 12.75 4.30109 12.75 4.5V6H15L17.25 9.042V13.5H15.7238C15.6346 14.1257 15.3227 14.6983 14.8453 15.1125C14.3679 15.5267 13.757 15.7547 13.125 15.7547C12.493 15.7547 11.8821 15.5267 11.4047 15.1125C10.9273 14.6983 10.6154 14.1257 10.5262 13.5H6.72375ZM11.25 5.25H2.25V11.2875C2.54592 10.9854 2.91045 10.7593 3.31256 10.6283C3.71468 10.4974 4.14247 10.4656 4.55953 10.5355C4.9766 10.6055 5.37058 10.7752 5.70796 11.0302C6.04533 11.2852 6.31611 11.6179 6.49725 12H10.7528C10.8787 11.7352 11.0475 11.4945 11.25 11.2875V5.25ZM12.75 9.75H15.75V9.53625L14.244 7.5H12.75V9.75ZM13.125 14.25C13.4235 14.25 13.7097 14.1314 13.9208 13.9204C14.1318 13.7093 14.2504 13.4231 14.2504 13.1246C14.2504 12.8262 14.1318 12.5399 13.9208 12.3289C13.7097 12.1178 13.4235 11.9992 13.125 11.9992C12.8265 11.9992 12.5403 12.1178 12.3292 12.3289C12.1182 12.5399 11.9996 12.8262 11.9996 13.1246C11.9996 13.4231 12.1182 13.7093 12.3292 13.9204C12.5403 14.1314 12.8265 14.25 13.125 14.25ZM5.25 13.125C5.25 12.9773 5.2209 12.831 5.16436 12.6945C5.10783 12.558 5.02496 12.434 4.9205 12.3295C4.81603 12.225 4.69201 12.1422 4.55552 12.0856C4.41903 12.0291 4.27274 12 4.125 12C3.97726 12 3.83097 12.0291 3.69448 12.0856C3.55799 12.1422 3.43397 12.225 3.3295 12.3295C3.22504 12.434 3.14217 12.558 3.08564 12.6945C3.0291 12.831 3 12.9773 3 13.125C3 13.4234 3.11853 13.7095 3.3295 13.9205C3.54048 14.1315 3.82663 14.25 4.125 14.25C4.42337 14.25 4.70952 14.1315 4.9205 13.9205C5.13147 13.7095 5.25 13.4234 5.25 13.125Z" fill="#121212"/>
				  </svg>
				  {{ settings.delivery_text }}
				</a>
			  {% endif %}
			  {% if settings.return_page.size > 0 %}
				<a class="item_policy__link"  href="{{ settings.return_page }}">
				  <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.75 10.5H8.25C7.0197 10.4995 5.81267 10.8354 4.75941 11.4712C3.70614 12.107 2.8467 13.0186 2.274 14.1075C2.2579 13.9054 2.2499 13.7027 2.25 13.5C2.25 9.35775 5.60775 6 9.75 6V1.875L17.625 8.25L9.75 14.625V10.5ZM8.25 9H11.25V11.481L15.2408 8.25L11.25 5.019V7.5H9.75C8.88769 7.49903 8.03534 7.68436 7.25129 8.04332C6.46724 8.40227 5.76999 8.92637 5.20725 9.57975C6.17574 9.19591 7.20822 8.99919 8.25 9Z" fill="#121212"/>
				  </svg>
				  {{ settings.return_text }}
				</a>
			  {% endif %}
			  {% if settings.security_page.size > 0 %}
				<a class="item_policy__link" href="{{ settings.security_page }}">
				  <svg width="16" height="16" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M9.3,0.1c0.5-0.2,1-0.2,1.4,0l6,2.3c0.8,0.3,1.3,1,1.3,1.9v4.5c0,2.5-0.5,4.6-1.4,6.4c-1.3,2.2-3.4,3.8-6.3,4.7 C10.1,20,9.9,20,9.7,20c-2.9-0.9-5-2.5-6.3-4.7C2.5,13.5,2,11.4,2,8.8V4.4c0-0.8,0.5-1.6,1.3-1.9L9.3,0.1z M5.2,14.2 c0.9,1.7,2.2,2.8,4.2,3.5c0.4,0.1,0.8,0.1,1.2,0c2-0.7,3.3-1.9,4.2-3.5c0.8-1.4,1.2-3.1,1.2-5.4V5.8c0-0.8-0.5-1.6-1.3-1.9l-4-1.5 c-0.5-0.2-1-0.2-1.4,0l-4,1.5C4.5,4.2,4,5,4,5.8v3.1C4,11.1,4.4,12.8,5.2,14.2z"/>
				  </svg>
				  {{ settings.security_text }}
				</a>
			  {% endif %}
			</div>
		  {% endif %}
		
		</div>
		<div class="col-12 col-md-7 order-1 order-md-2">
		  <div class="section-product-image-wrapper">
			{% case product.images.size %}
			{% when 0 %}
			  <img class="img-fluid" src="{{ 'no_image.png' | asset_url }}" alt="no image">
			{% when 1 %}
			  <img class="img-fluid w-100" src="{{ product.featured_image.src | product_img_url: '600x800', crop: section.settings.image_alignment }}" alt="{{ product.images.first.alt }}">
			  {% else %}
			  <img class="img-fluid" style="width: 95%" src="{{ product.images.first | product_img_url: '600x800', crop: section.settings.image_alignment }}" alt="{{ product.images.first.alt }}">
			{% endcase %}
		  </div>
		</div>
	  </div>
	  {% if section.settings.container_view %}
	</div>
	{% endif %}
  </div>

{% endif %}

{% schema %}
{
  "name": "Product with text",
  "class": "index-section section_template__product index-product-with-text",
  "settings": [
	// SECTION SETTINGS
	{
	  "type": "header",
	  "content": "Section settings"
	},
	{
	  "type": "checkbox",
	  "id": "background_toggle",
	  "label": "Show background color",
	  "default": false
	},
	{
	  "type": "color",
	  "id": "bg_color",
	  "label": "Background color",
	  "default": "#F6F7F9"
	},
	{
	  "type": "checkbox",
	  "id": "container_view",
	  "label": "Use container",
	  "default": true
	},
	{
	  "type":      "select",
	  "id":        "container_settings",
	  "label":     "Container width",
	  "options": [
		{
		  "value": "container",
		  "label": "Container"
		},
		{
		  "value": "container-xl",
		  "label": "Container xl"
		}
	  ],
	  "default":   "container",
	  "info":      "If use container"
	},
	// PRODUCT
	{
	  "type": "header",
	  "content": "Product"
	},
	{
	  "type": "product",
	  "id": "single_product",
	  "label": "Choose product"
	},
	
	// VIEW
	{
	  "type": "header",
	  "content": "Product settings"
	},
	{
	  "type": "checkbox",
	  "id": "row_reverse",
	  "label": "Section reverse",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productSku",
	  "label": "Show SKU",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productQuantity",
	  "label": "Show quantity",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productPrice",
	  "label": "Show price",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productType",
	  "label": "Show Type",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productBarcode",
	  "label": "Show Barcode",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productTags",
	  "label": "Show Tags",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "productCollections",
	  "label": "Show Collections",
	  "default": false
	},
	{
	  "type": "checkbox",
	  "id": "show_policy",
	  "label": "Show policy",
	  "default": false
	},
	
	// IMAGES
	{
	  "type": "header",
	  "content": "Images"
	},
	{
	  "type": "select",
	  "id": "image_alignment",
	  "label": "Image alignment",
	  "options": [
		{
		  "value": "top",
		  "label": "Top"
		},
		{
		  "value": "center",
		  "label": "Middle"
		},
		{
		  "value": "bottom",
		  "label": "Bottom"
		}
	  ]
	},
	// SETTINGS
	{
	  "type": "html",
	  "id": "product_short_info",
	  "label": "Html content"
	},
	{
	  "type": "text",
	  "id": "btn_text",
	  "label": "Button text",
	  "default": "Shop Contacts"
	}
  ],
  "presets": [
	{
	  "name": "Product with text",
	  "category": "Products"
	}
  ]
}
{% endschema %}
