<div {% if section.settings.bg_image %}style="background: url({{ section.settings.bg_image | img_url: '2048x', crop: center }} );background-size: cover;"{% endif %} class="page_password_wrap">
  <div class="container">
	<div class="page_content">
	  {% if section.settings.logo %}
		<a href="{{ shop.url }}" class="logo_block">
		  <img loading="lazy" src="{{ section.settings.logo | img_url: '260x90', crop: 'center' }}" alt="{{ shop.name }}">
		</a>
	  {% endif %}
	  
	  <div class="message_block">
		{% if section.settings.header %}
		  <h2>{{ section.settings.header }}</h2>
		{% endif %}
		
		{% if section.settings.message %}
		  <div>{{ section.settings.message }}</div>
		{% endif %}
		
		{% unless shop.password_message == blank %}
		  <p>{{ shop.password_message }}</p>
		{% endunless %}
	  </div>
	  
	  <div class="password_form py-3 my-3">
		<div class="form-wrapper">
		  {% form 'storefront_password' %}
			
			{{ form.errors | default_errors }}
			
			<p class="h5">{{ section.settings.password_label }}</p>
			
			  <input type="password" name="password" class="form-control input-group__field newsletter__input">
			  <button class="btn btn-default mt-1" type="submit">{{ 'pages.password.enter' | t }}</button>
		  {% endform %}
		</div>
	  </div>
	  
	  {% if section.settings.newslatter_form %}
		<div class="newslatter_form py-3 my-3">
		  <div class="form-wrapper">
			{% form 'customer' %}
			  {{ form.errors | default_errors }}
			  
			  {% if form.posted_successfully? %}
				<p class="alert alert-success">{{ 'layout.footer.newsletter_success' | t }}</p>
			  {% else %}
				<p class="h5">{{ 'layout.footer.newsletter_tagline' | t }}</p>
				
				  <input type="hidden" name="contact[tags]" value="prospect, password page" class="form-control">
				  <input type="email" name="contact[email]" id="email" placeholder="Your email" class="form-control">
				  <button class="btn btn-primary newsletter_btn mt-1" type="submit">{{ 'layout.footer.subscribe_button' | t }}</button>
			  
			  {% endif %}
		  {% endform %}
		  </div>
		</div>
	  {% endif %}
	  
	  {% if section.settings.social_menu %}
		{% include 'social-icon-link' style: 'type_1' %}
	  {% endif %}
	  
	  {% if section.settings.copyright_toggle %}
		<div class="footer_copyright">
		  {%- capture shop_copyright_link -%}
			{% if section.settings.copyright_link != blank and section.settings.copyright_text != blank %}
			  <a href="{{ section.settings.copyright_link }}">{{ section.settings.copyright_text }}</a>
			{% else %}
			  <a href="{{ shop.url }}">{{ shop.name }}</a>
			{% endif %}
		  {%- endcapture -%}
		  
		  {% assign copyright_year = "now" | date: "%Y" %}
		  <div class="mt-1">© {{ copyright_year }} - {{- shop_copyright_link -}}. {{ 'layout.footer.copyright' | t }}</div>
		</div>
	  {% endif %}
	</div>
  </div>
</div>

{% schema %}
{
  "name": "Password",
  "class": "section section_template section_template__password",
  "settings": [
	{
	  "type": "header",
	  "content": "Coming soon page"
	},
	{
	  "type": "image_picker",
	  "id": "logo",
	  "label": "Logo image",
	  "info": "Logo size 260x90px"
	},
	{
	  "type": "text",
	  "id": "header",
	  "label": "Page header",
	  "default": "We are not ready yet"
	},
	{
	  "type": "text",
	  "id": "message",
	  "label": "Text message",
	  "default": "Our store will be available soon"
	},
	{
	  "type": "image_picker",
	  "id": "bg_image",
	  "label": "Background image",
	  "info": "For higher quality upload images wider than 2048 pixels"
	},
	{
	  "type": "text",
	  "id": "password_label",
	  "label": "Password label",
	  "default": "Enter store using password:"
	},
	{
	  "type": "checkbox",
	  "id": "newslatter_form",
	  "label": "Show newsletter form"
	},
	
	
	{
	  "type": "header",
	  "content": "Social links"
	},
	{
	  "type": "checkbox",
	  "id": "social_menu",
	  "label": "Show social menu"
	},
	{
	  "type": "header",
	  "content": "Footer"
	},
	{
	  "type": "checkbox",
	  "id": "copyright_toggle",
	  "label": "Copyright",
	  "default": true
	},
	{
	  "type": "paragraph",
	  "content": "Custom copyright link"
	},
	{
	  "type": "url",
	  "id": "copyright_link",
	  "label": "Copyright link"
	},
	{
	  "type": "text",
	  "id": "copyright_text",
	  "label": "Copyright link text"
	}
  ]
}
{% endschema %}