{% if section.settings.background_toggle %}
<div style="background-color: {{ section.settings.bg_color }}" class="bg-section">
	{% endif %}

{% if section.settings.container_view %}
<div class="{% if section.settings.container_settings == 'container' %}container{% elsif section.settings.container_settings == 'container-xl' %} container container-xxl{% endif %}">
	{% endif %}
	
	{% if section.settings.section_title.size > 0 %}
		<h2 class="section_heading text-center"><span>{{ section.settings.section_title }}</span></h2>
	{% endif %}
	
	<div class="row">
		{% for block in section.blocks %}
			
		{%- assign img_min_size = '300x154' -%}
		{%- assign img_size = '570x400' -%}
			
			<div class="col-sm-4">
				<div class="block-item">
					{% if block.settings.item_img.size > 0 %}
						<img loading="lazy" class="lazyload blur-up img-fluid w-100" src="{{ block.settings.item_img | img_url: img_min_size, crop: 'center' }}" alt="{{ block.settings.item_img.alt | escape }}"
							 data-src="{{ block.settings.item_img | img_url: img_size, crop: 'center' }}"
							 data-widths="[360, 540, 720, 900, 1080, 1296, 1512, 1728, 1810]"
						>
					{% else %}
						<div class="img_placeholder__wrap">
							{{ 'image' | placeholder_svg_tag: 'medium_placeholder' }}
						</div>
					{% endif %}
					
					<div class="block-caption text-center py-2 mt-2">
						{% if block.settings.item_title.size > 0 %}
							<h2 class="h4">{{ block.settings.item_title }}</h2>
						{% endif %}
						{% if block.settings.item_text.size > 0 %}
							<div class="text text-default">{{ block.settings.item_text }}</div>
						{% endif %}
						{% if section.settings.social_menu %}
							<ul class="social_menu justify-content-center text-center mt-3">
								{% if block.settings.social_fb.size > 0 %}
									<li><a href="{{ block.settings.social_fb }}"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M7.07227 20V11.3333H4V7.33333H7.07227V4.54167C7.07227 3.77778 7.18685 3.11111 7.41602 2.54167C7.65951 1.97222 7.98893 1.5 8.4043 1.125C8.83398 0.75 9.34245 0.472222 9.92969 0.291667C10.5169 0.0972222 11.1615 0 11.8633 0C12.5221 0 13.1165 0.0208333 13.6465 0.0625C14.1764 0.0902778 14.5202 0.118056 14.6777 0.145833V3.3125H12.7441C11.985 3.3125 11.4837 3.47222 11.2402 3.79167C10.9967 4.11111 10.875 4.52778 10.875 5.04167V7.33333H15L13.625 11.3333H10.875V20H7.07227Z"/></svg></a></li>
								{% endif %}
								
								{% if block.settings.social_tw.size > 0 %}
									<li><a href="{{ block.settings.social_tw }}"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M20 4.0024C19.6354 4.17949 19.2513 4.32933 18.8477 4.45192C18.457 4.5609 18.0534 4.64263 17.6367 4.69712C18.0664 4.42468 18.4375 4.08413 18.75 3.67548C19.0625 3.26683 19.2969 2.8105 19.4531 2.30649C19.0495 2.55168 18.6263 2.76282 18.1836 2.9399C17.7539 3.11699 17.3047 3.25321 16.8359 3.34856C16.4714 2.9399 16.0286 2.61298 15.5078 2.36779C14.987 2.1226 14.4336 2 13.8477 2C13.2747 2 12.7409 2.11579 12.2461 2.34736C11.7513 2.5653 11.3151 2.87179 10.9375 3.26683C10.5729 3.64824 10.2799 4.09776 10.0586 4.61538C9.85026 5.13301 9.74609 5.69151 9.74609 6.29087C9.74609 6.45433 9.7526 6.61779 9.76562 6.78125C9.79167 6.94471 9.81771 7.10817 9.84375 7.27163C8.9974 7.23077 8.17057 7.09455 7.36328 6.86298C6.56901 6.63141 5.8138 6.32492 5.09766 5.94351C4.38151 5.54848 3.71094 5.08534 3.08594 4.55409C2.46094 4.02284 1.89453 3.43029 1.38672 2.77644C1.21745 3.10337 1.08073 3.45072 0.976562 3.81851C0.885417 4.17268 0.839844 4.54728 0.839844 4.94231C0.839844 5.69151 1.0026 6.37941 1.32812 7.00601C1.66667 7.63261 2.10938 8.13662 2.65625 8.51803C2.31771 8.50441 1.99219 8.44992 1.67969 8.35457C1.36719 8.25921 1.07422 8.13662 0.800781 7.98678C0.800781 7.98678 0.800781 7.99359 0.800781 8.00721C0.800781 8.02083 0.800781 8.02764 0.800781 8.02764C0.800781 9.07652 1.11328 9.99599 1.73828 10.7861C2.3763 11.5625 3.16406 12.0461 4.10156 12.2368C3.91927 12.2913 3.73698 12.3321 3.55469 12.3594C3.38542 12.3866 3.20312 12.4002 3.00781 12.4002C2.8776 12.4002 2.7474 12.3934 2.61719 12.3798C2.48698 12.3662 2.36328 12.3458 2.24609 12.3185C2.50651 13.1631 2.98177 13.8646 3.67188 14.4231C4.375 14.9816 5.17578 15.2744 6.07422 15.3017C5.37109 15.8738 4.58333 16.3233 3.71094 16.6502C2.85156 16.9772 1.9401 17.1406 0.976562 17.1406C0.807292 17.1406 0.638021 17.1338 0.46875 17.1202C0.3125 17.1066 0.15625 17.0929 0 17.0793C0.455729 17.379 0.93099 17.6514 1.42578 17.8966C1.92057 18.1282 2.42839 18.3257 2.94922 18.4892C3.48307 18.6526 4.02995 18.7821 4.58984 18.8774C5.14974 18.9591 5.71615 19 6.28906 19C8.17708 19 9.84375 18.6322 11.2891 17.8966C12.7474 17.1474 13.9714 16.1871 14.9609 15.0156C15.9505 13.8442 16.6992 12.5365 17.207 11.0925C17.7148 9.63502 17.9688 8.19792 17.9688 6.78125C17.9688 6.69952 17.9622 6.61098 17.9492 6.51562C17.9492 6.42027 17.9492 6.32492 17.9492 6.22957C18.3529 5.92989 18.724 5.59615 19.0625 5.22837C19.4141 4.84696 19.7266 4.4383 20 4.0024Z"/></svg></a></li>
								{% endif %}
								
								{% if block.settings.social_inst.size > 0 %}
									<li><a href="{{ block.settings.social_inst }}"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 1.79688C11.3411 1.79688 12.2135 1.80339 12.6172 1.81641C13.0339 1.81641 13.5091 1.82943 14.043 1.85547C14.6159 1.88151 15.1562 1.97266 15.6641 2.12891C16.1849 2.27214 16.6471 2.54557 17.0508 2.94922C17.4544 3.35286 17.7279 3.8151 17.8711 4.33594C18.0273 4.84375 18.1185 5.38411 18.1445 5.95703C18.1706 6.49089 18.1836 6.96615 18.1836 7.38281C18.1966 7.78646 18.2031 8.65885 18.2031 10C18.2031 11.3411 18.1966 12.2201 18.1836 12.6367C18.1836 13.0404 18.1706 13.5091 18.1445 14.043C18.1185 14.6159 18.0273 15.1628 17.8711 15.6836C17.7279 16.1914 17.4544 16.6471 17.0508 17.0508C16.6471 17.4544 16.1849 17.7344 15.6641 17.8906C15.1562 18.0339 14.6159 18.1185 14.043 18.1445C13.5091 18.1706 13.0339 18.1901 12.6172 18.2031C12.2135 18.2031 11.3411 18.2031 10 18.2031C8.65885 18.2031 7.77995 18.2031 7.36328 18.2031C6.95964 18.1901 6.49089 18.1706 5.95703 18.1445C5.38411 18.1185 4.83724 18.0339 4.31641 17.8906C3.80859 17.7344 3.35286 17.4544 2.94922 17.0508C2.54557 16.6471 2.26562 16.1914 2.10938 15.6836C1.96615 15.1628 1.88151 14.6159 1.85547 14.043C1.82943 13.5091 1.8099 13.0404 1.79688 12.6367C1.79688 12.2201 1.79688 11.3411 1.79688 10C1.79688 8.65885 1.79688 7.78646 1.79688 7.38281C1.8099 6.96615 1.82943 6.49089 1.85547 5.95703C1.88151 5.38411 1.96615 4.84375 2.10938 4.33594C2.26562 3.8151 2.54557 3.35286 2.94922 2.94922C3.35286 2.54557 3.80859 2.27214 4.31641 2.12891C4.83724 1.97266 5.38411 1.88151 5.95703 1.85547C6.49089 1.82943 6.95964 1.81641 7.36328 1.81641C7.77995 1.80339 8.65885 1.79688 10 1.79688ZM10 0C8.64583 0 7.75391 0.00651042 7.32422 0.0195312C6.89453 0.0195312 6.41276 0.0325521 5.87891 0.0585938C5.05859 0.0976562 4.29688 0.234375 3.59375 0.46875C2.89062 0.703125 2.2526 1.10677 1.67969 1.67969C1.10677 2.2526 0.703125 2.89062 0.46875 3.59375C0.234375 4.29688 0.0976562 5.05859 0.0585938 5.87891C0.0325521 6.41276 0.0130208 6.89453 0 7.32422C0 7.75391 0 8.64583 0 10C0 11.3542 0 12.2461 0 12.6758C0.0130208 13.1055 0.0325521 13.5872 0.0585938 14.1211C0.0976562 14.9414 0.234375 15.7031 0.46875 16.4062C0.703125 17.1094 1.10677 17.7474 1.67969 18.3203C2.2526 18.8932 2.89062 19.2969 3.59375 19.5312C4.29688 19.7656 5.05859 19.9023 5.87891 19.9414C6.41276 19.9674 6.89453 19.9805 7.32422 19.9805C7.75391 19.9935 8.64583 20 10 20C11.3542 20 12.2461 19.9935 12.6758 19.9805C13.1055 19.9805 13.5872 19.9674 14.1211 19.9414C14.9414 19.9023 15.7031 19.7656 16.4062 19.5312C17.1094 19.2969 17.7474 18.8932 18.3203 18.3203C18.8932 17.7474 19.2969 17.1094 19.5312 16.4062C19.7656 15.7031 19.9023 14.9414 19.9414 14.1211C19.9674 13.5872 19.9805 13.1055 19.9805 12.6758C19.9935 12.2461 20 11.3542 20 10C20 8.64583 19.9935 7.75391 19.9805 7.32422C19.9805 6.89453 19.9674 6.41276 19.9414 5.87891C19.9023 5.05859 19.7656 4.29688 19.5312 3.59375C19.2969 2.89062 18.8932 2.2526 18.3203 1.67969C17.7474 1.10677 17.1094 0.703125 16.4062 0.46875C15.7031 0.234375 14.9414 0.0976562 14.1211 0.0585938C13.5872 0.0325521 13.1055 0.0195312 12.6758 0.0195312C12.2461 0.00651042 11.3542 0 10 0ZM10 4.86328C9.29688 4.86328 8.63281 5 8.00781 5.27344C7.38281 5.53385 6.83594 5.89844 6.36719 6.36719C5.89844 6.83594 5.52734 7.38281 5.25391 8.00781C4.99349 8.63281 4.86328 9.29688 4.86328 10C4.86328 10.7031 4.99349 11.3672 5.25391 11.9922C5.52734 12.6172 5.89844 13.1641 6.36719 13.6328C6.83594 14.1016 7.38281 14.4727 8.00781 14.7461C8.63281 15.0065 9.29688 15.1367 10 15.1367C10.7031 15.1367 11.3672 15.0065 11.9922 14.7461C12.6172 14.4727 13.1641 14.1016 13.6328 13.6328C14.1016 13.1641 14.4661 12.6172 14.7266 11.9922C15 11.3672 15.1367 10.7031 15.1367 10C15.1367 9.29688 15 8.63281 14.7266 8.00781C14.4661 7.38281 14.1016 6.83594 13.6328 6.36719C13.1641 5.89844 12.6172 5.53385 11.9922 5.27344C11.3672 5 10.7031 4.86328 10 4.86328ZM10 13.3398C9.07552 13.3398 8.28776 13.0143 7.63672 12.3633C6.98568 11.7122 6.66016 10.9245 6.66016 10C6.66016 9.07552 6.98568 8.28776 7.63672 7.63672C8.28776 6.98568 9.07552 6.66016 10 6.66016C10.9245 6.66016 11.7122 6.98568 12.3633 7.63672C13.0143 8.28776 13.3398 9.07552 13.3398 10C13.3398 10.9245 13.0143 11.7122 12.3633 12.3633C11.7122 13.0143 10.9245 13.3398 10 13.3398ZM16.543 4.66797C16.543 4.99349 16.4258 5.27344 16.1914 5.50781C15.957 5.74219 15.6706 5.85938 15.332 5.85938C15.0065 5.85938 14.7266 5.74219 14.4922 5.50781C14.2578 5.27344 14.1406 4.99349 14.1406 4.66797C14.1406 4.32943 14.2578 4.04297 14.4922 3.80859C14.7266 3.57422 15.0065 3.45703 15.332 3.45703C15.6706 3.45703 15.957 3.57422 16.1914 3.80859C16.4258 4.04297 16.543 4.32943 16.543 4.66797Z"/></svg></a></li>
								{% endif %}
								
								{% if block.settings.social_linkedin.size > 0 %}
									<li><a href="{{ block.settings.social_linkedin }}"><svg width="20" height="20" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg"><path d="M 21.125 0 L 4.875 0 C 2.183594 0 0 2.183594 0 4.875 L 0 21.125 C 0 23.816406 2.183594 26 4.875 26 L 21.125 26 C 23.816406 26 26 23.816406 26 21.125 L 26 4.875 C 26 2.183594 23.816406 0 21.125 0 Z M 8.039063 22.070313 L 4 22.070313 L 3.976563 9.976563 L 8.015625 9.976563 Z M 5.917969 8.394531 L 5.894531 8.394531 C 4.574219 8.394531 3.722656 7.484375 3.722656 6.351563 C 3.722656 5.191406 4.601563 4.3125 5.945313 4.3125 C 7.289063 4.3125 8.113281 5.191406 8.140625 6.351563 C 8.140625 7.484375 7.285156 8.394531 5.917969 8.394531 Z M 22.042969 22.070313 L 17.96875 22.070313 L 17.96875 15.5 C 17.96875 13.910156 17.546875 12.828125 16.125 12.828125 C 15.039063 12.828125 14.453125 13.558594 14.171875 14.265625 C 14.066406 14.519531 14.039063 14.867188 14.039063 15.222656 L 14.039063 22.070313 L 9.945313 22.070313 L 9.921875 9.976563 L 14.015625 9.976563 L 14.039063 11.683594 C 14.5625 10.875 15.433594 9.730469 17.519531 9.730469 C 20.105469 9.730469 22.039063 11.417969 22.039063 15.046875 L 22.039063 22.070313 Z"/></svg></a></li>
								{% endif %}
								{% if block.settings.social_yt.size > 0 %}
									<li><a href="{{ block.settings.social_yt }}"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M19.8047 5.54977C19.8047 5.54977 19.7461 5.29398 19.6289 4.78241C19.5117 4.27083 19.3034 3.8642 19.0039 3.5625C18.6263 3.15586 18.2422 2.91975 17.8516 2.85417C17.474 2.77546 17.1875 2.72299 16.9922 2.69676C16.3021 2.64429 15.5469 2.60494 14.7266 2.5787C13.9062 2.55247 13.1445 2.53279 12.4414 2.51968C11.7513 2.50656 11.1719 2.5 10.7031 2.5C10.2344 2.5 10 2.5 10 2.5C10 2.5 9.76562 2.5 9.29688 2.5C8.82812 2.5 8.24219 2.50656 7.53906 2.51968C6.84896 2.53279 6.09375 2.55247 5.27344 2.5787C4.45312 2.60494 3.69792 2.64429 3.00781 2.69676C2.8125 2.72299 2.51953 2.77546 2.12891 2.85417C1.7513 2.91975 1.3737 3.15586 0.996094 3.5625C0.696615 3.8642 0.488281 4.27083 0.371094 4.78241C0.253906 5.29398 0.195312 5.54977 0.195312 5.54977C0.195312 5.54977 0.16276 5.89082 0.0976562 6.57292C0.0325521 7.25502 0 8.0027 0 8.81597V10.3507C0 11.164 0.0325521 11.9117 0.0976562 12.5938C0.16276 13.2627 0.195312 13.5972 0.195312 13.5972C0.195312 13.5972 0.253906 13.8596 0.371094 14.3843C0.488281 14.8958 0.696615 15.3025 0.996094 15.6042C1.3737 16.0108 1.77734 16.2469 2.20703 16.3125C2.64974 16.3781 2.98177 16.4306 3.20312 16.4699C3.60677 16.5093 4.1862 16.5421 4.94141 16.5683C5.69661 16.5945 6.44531 16.6142 7.1875 16.6273C7.94271 16.6404 8.60026 16.6536 9.16016 16.6667C9.72005 16.6667 10 16.6667 10 16.6667C10 16.6667 10.2344 16.6667 10.7031 16.6667C11.1719 16.6667 11.7513 16.6601 12.4414 16.647C13.1445 16.6339 13.9062 16.6142 14.7266 16.588C15.5469 16.5486 16.3021 16.5027 16.9922 16.4502C17.1875 16.4371 17.474 16.3978 17.8516 16.3322C18.2422 16.2535 18.6263 16.0108 19.0039 15.6042C19.3034 15.3025 19.5117 14.8958 19.6289 14.3843C19.7461 13.8596 19.8047 13.5972 19.8047 13.5972C19.8047 13.5972 19.8372 13.2627 19.9023 12.5938C19.9674 11.9117 20 11.164 20 10.3507V8.81597C20 8.0027 19.9674 7.25502 19.9023 6.57292C19.8372 5.89082 19.8047 5.54977 19.8047 5.54977ZM7.92969 12.2002V6.53357L13.3398 9.3669L7.92969 12.2002Z"/></svg></a></li>
								{% endif %}
							</ul>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	
	{% if section.settings.container_view %}
</div>
{% endif %}
	
	{% if section.settings.background_toggle %}
</div>
{% endif %}

{% schema %}

{
	"name": "Personal block",
	"class": "section section_homepage section_personal",
	"max_blocks": 12,
	"settings": [
		{
			"type": "header",
			"content": "Personal Block"
		},
		{
			"type": "checkbox",
			"id": "background_toggle",
			"label": "Show background color",
			"default": false
		},
		{
			"type": "color",
			"id": "bg_color",
			"label": "Background color",
			"default": "#F6F7F9"
		},
		{
			"type": "text",
			"id": "section_title",
			"label": "Section Title"
		},
		{
			"type": "checkbox",
			"id": "container_view",
			"label": "Use container",
			"default":   false
		},
		{
		"type":      "select",
		"id":        "container_settings",
		"label":     "Container width",
			"options": [
				{
					"value": "container",
					"label": "Container"
				},
				{
					"value": "container-xl",
					"label": "Container xl"
				}
			],
			"default":   "container",
			"info":      "If use container"
		},
		{
			"type": "checkbox",
			"id": "social_menu",
			"label": "Show social menu",
			"default": true
		}
	],
	"blocks": [
		{
			"type": "block_item",
			"name": "Personal infoblock",
			"settings": [
				{
					"type": "image_picker",
					"id": "item_img",
					"label":"Image item"
				},
				{
					"type": "text", 
					"id": "item_title",
					"label": "Caption title"
				},
				{
					"type": "richtext",
					"id": "item_text",
					"label": "Caption text"
				},
				// SOCIAL ICONS
				
				{
					"type": "text",
					"id": "social_fb",
					"label": "Facebook"
				},
				{
					"type": "text",
					"id": "social_tw",
					"label": "Twitter"
				},
				{
					"type": "text",
					"id": "social_inst",
					"label": "Instagram"
				},
				{
					"type": "text",
					"id": "social_linkedin",
					"label": "Linkedin"
				},
				{
					"type": "text",
					"id": "social_yt",
					"label": "Youtube"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Personal block",
			"category": "Image",
			"blocks": [
				{
					"type": "block_item"
				},
				{
					"type": "block_item"
				},
				{
					"type": "block_item"
				}
			]
		}
	]
}
{% endschema %}


                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          