<div class="sidebar">
	{% for block in section.blocks %}
		{% case block.type %}
			{% when 'widget_collections' %}
				<div class="sidebar_widget sidebar_widget__collections">
						<div class="widget_header h6 widget_toggle{% if block.settings.widget_open_toggle %} open{% endif %}">{{ block.settings.title | escape }}<svg width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg></div>

						<div class="widget_content content-widget_toggle">
							<ul class="link_list">
								{% assign tmp_col_size = collection.id | size | plus: 0 %}

								{% for collection in collections %}

									{% if tmp_col_size > 0 %}
										{% assign tmp_col = collection.title | escape | handleize | replace: '-amp-', '-' %}
									{% endif %}

									<li>
										<a {% if tmp_col_size > 0 and tmp_col == handle %}class="active"{% endif %} href="{{ collection.url }}">{{ collection.title | escape }}</a>
									</li>

								{% endfor %}
							</ul>
						</div>
					</div>

			{% when 'widget_linklist' %}
				<div class="sidebar_widget sidebar_widget__linklist">
						<div class="widget_header h6 widget_toggle{% if block.settings.widget_open_toggle %} open{% endif %}">{{ block.settings.title | escape }}<svg  width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg></div>

						<div class="widget_content content-widget_toggle">
							{%- assign links_small = block.settings.links -%}

							<ul class="link_list">

								{% for link in linklists[links_small].links %}
									{%- assign child_list_handle = link.title | handleize -%}

									{%- assign link_count = 0 -%}
									{% for childlink in linklists[child_list_handle].links %}
										{%- assign link_count = link_count | plus: 1 -%}
									{% endfor %}
								
									<li class="level_1__item {% if link_count > 0 %}with_ul{% endif %}">
										<a class="level_1__link" href="{{ link.url }}">{{ link.title }}</a>

										{% if link_count > 0 %}
											<span>
												<svg width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg" class="level_1__trigger menu_trigger" data-submenu="submenu_{{ block.id }}-{{ forloop.index }}"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg>
											</span>
											<ul class="level_1_2 droped_linklist" id="submenu_{{ block.id }}-{{ forloop.index }}" style="display: none">
												{% for childlink in linklists[child_list_handle].links %}
													{%- assign child_list_2_handle = childlink.title | handleize -%}

													{%- assign link_count = 0 -%}
													{% for childlink in linklists[child_list_2_handle].links %}
														{%- assign link_count = link_count | plus: 1 -%}
													{% endfor %}
														
													<li class="level_1_2_item {% if link_count > 2 %}with_ul{% endif %}">
														<a class="level_1_2_link" href="{{ childlink.url }}">{{ childlink.title }}</a>

														{% if link_count > 0 %}
															<span>
																<svg width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg" class="level_1__trigger menu_trigger" data-submenu="submenu_{{ block.id }}-{{ forloop.index }}"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg>
															</span>
															<ul class="level_1_3 droped_linklist" id="subsubmenu_{{ block.id }}-{{ forloop.index }}">
																{% for childlink in linklists[child_list_2_handle].links %}
																	<li class="level_1_3_item">
																		<a class="level_1_3_link" href="{{ childlink.url }}">{{ childlink.title }}</a>
																	</li>
																{% endfor %}
															</ul>
														{% endif %}
													</li>
												{% endfor %}
											</ul>
										{% endif %}
									</li>
	
								{% endfor %}
							</ul>
						</div>
					</div>

			{% when 'widget_types' %}
				<div class="sidebar_widget sidebar_widget__types">
					<div class="widget_header h6 widget_toggle{% if block.settings.widget_open_toggle %} open{% endif %}">{{ block.settings.title | escape }}<svg width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg></div>

					<div class="widget_content content-widget_toggle">
						<ul class="link_list">
							{% for product_type in shop.types %}
								{% if product_type.size > 0 %}

									{% if canonical_url contains 'types' %}
										{% assign tmp_title = page_title | escape | handleize %}
										{% assign tmp_type = product_type | escape | handleize %}
									{% endif %}

									<li><a {% if tmp_title and tmp_title == tmp_type %}class="active"{% endif %} href="{{ product_type | url_for_type }}">{{ product_type }}</a></li>

								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>

			{% when 'widget_vendors' %}
				<div class="sidebar_widget sidebar_widget__vendors">
					<div class="widget_header h6 widget_toggle{% if block.settings.widget_open_toggle %} open{% endif %}">{{ block.settings.title | escape }}<svg width="9" height="6" viewBox="0 0 9 6" xmlns="http://www.w3.org/2000/svg"><path d="M9 1.5L7.5 0L4.5 3L1.5 0L0 1.5L4.5 6L9 1.5Z" /></svg></в>

					<div class="widget_content content-widget_toggle">
						<ul class="link_list">
							{% for vendor in shop.vendors %}

								{% if canonical_url contains 'vendors' %}
									{% assign tmp_title = page_title | escape | handleize %}
									{% assign tmp_vendor = vendor | escape | handleize %}
								{% endif %}

								<li><a {% if tmp_title and tmp_title == tmp_vendor %}class="active"{% endif %} href="{{ vendor | url_for_vendor }}">{{ vendor }}</a></li>

							{% endfor %}
						</ul>
					</div>
				</div>
		
		{% when 'widget_search' %}
		{% include 'widget-sidebar-search' %}
		
		{% when 'widget_banner' %}
		
			<div class="sidebar_widget no-border sidebar_widget__banner w-100">
				<div class="sidebar_banner_wrapper">
					{% if block.settings.image != blank %}
							{% if block.settings.link.size > 0 %}
								<a class="image-item-container" href="{{ block.settings.link }}">
							{% else %}	
								 <div class="image-item-container">
							{% endif %}
								<div class="image-item-wrapper" style="padding-top:{{ 1 | divided_by: block.settings.image.aspect_ratio | times: 100 }}%;">
									{% assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
									<img loading="lazy" class="image-content__image lazyload"
										src="{{ block.settings.image | img_url: '300x300' }}"
										data-src="{{ img_url }}"
										data-widths="[180, 360, 540]"
										data-aspectratio="{{ block.settings.image.aspect_ratio }}"
										data-sizes="auto"
										alt="{{ block.settings.image.alt | escape }}">   
								</div>
							{% if block.settings.link.size > 0 %}
								</a>
							{% else %}	
								</div>
							{% endif %}
					 {% else %}
					 <div class="image-item-container">
						 <div class="img_placeholder__wrap" style="padding-top: 52.6%;">
							 {{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
						 </div>
					 </div>
				  {% endif %}
					
					<div class="sidebar_banner_caption banner-caption position_{{ block.settings.caption_position }}">
						<div class="caption_text"> 
							 {% if block.settings.title.size > 0 %}
								<h2 class="h4">{{ block.settings.title }}</h2>
							{% endif %}
							
							{% if block.settings.text.size > 0 %}
								<p class="block-text">{{ block.settings.text }}</p>
							{% endif %}
						</div>		
					</div>
				</a>
			</div>
		{% when 'widget_products' %}
		<div class="sidebar_widget no-border sidebar_widget__products">
			<h6 class="widget_header">{{ block.settings.title | escape }}</h6>
			<div class="widget_content">
				<ul class="list_products">
					{% for product in collections[block.settings.products_collection].products limit: 3 %}
						<li class="product">
							<div class="product_img">
								<a href="{{ product.url | within: collection }}">
									<img loading="lazy" class="img-fluid" src="{{ product.featured_image.src | product_img_url: '163x209', crop: 'center' }}" alt="{{ product.featured_image.alt | escape }}" />
								</a>
							</div>
							
							<div class="product_info">
								<div class="product_name">
									<a href="{{ product.url | within: collection }}">{{ product.title | truncate: 30 }}</a>
								</div>
								
								<div class="product-price-container">
									<span class="product-price money">{{ product.price | money }}</span>
									{% if product.compare_at_price and product.compare_at_price > product.price %}
										<span class="product-regular-price money">{{ product.compare_at_price | money }}</span>
									{% endif %}
								</div>
							
							</div>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		
		{% endcase %}
		
	{% endfor %}
</div>


{% schema %}
{
	"name": "Sidebar",
	"class": "page_sidebar",
	"max_blocks": 8,
	"settings": [
		{
			"type": "header",
			"content": "Sidebar widgets"
		}

	],
	"blocks": [
		// COLLECTIONS
		{
			"type": "widget_collections",
			"name": "Collections",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Collections"
				},
				{
					"type": "checkbox",
					"id": "widget_open_toggle",
					"label": "Widget open"
				}
			]
		},

		// PRODUCT TYPES
		{
			"type": "widget_types",
			"name": "Product types",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Product types"
				},
				{
					"type": "checkbox",
					"id": "widget_open_toggle",
					"label": "Widget open"
				}
			]
		},

		// PRODUCTS ///////////////////////////////////////////////////////////////////////////////////////
		{
		"type": "widget_products",
		"name": "Products",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Products"
				},
				{
					"type": "collection",
					"id": "products_collection",
					"label": "Collection"
				}
			]
		},

		// SEARCH
		{
		"type": "widget_search",
		"name": "Sidebar Search",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Sidebar Search"
				}
			]
		},

		// PRODUCT VENDORS
		{
			"type": "widget_vendors",
			"name": "Product vendors",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Product vendors"
				},
				{
					"type": "checkbox",
					"id": "widget_open_toggle",
					"label": "Widget open"
				}
			]
		},



		// LINKLIST
		{
			"type": "widget_linklist",
			"name": "Linklist",
			"settings": [
				{
					"type": "text",
					"id": "title",
					"label": "Widget title",
					"default": "Linklist"
				},
				{
					"type": "link_list",
					"id": "links",
					"label": "Choose linklist"
				},
				{
					"type": "checkbox",
					"id": "widget_open_toggle",
					"label": "Widget open"
				}
			]
		},

		// BANNER
		{
			"type": "widget_banner",
			"name": "Banner",
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image",
					"info": "The image should be more than 270px wide to resize and crop properly"
				},
				
				{
					"type": "text",
					"id": "title",
					"label": "Heading",
					"default": "Title"
				},
				{
					"type": "text",
					"id": "text",
					"label": "Text",
					"default": "Banner text"
				},
				{
					"type": "url",
					"id": "link",
					"label": "Link"
				}
			]
		}
	]
}
{% endschema %}


{% javascript %}
(function($) {
	$(window).on('load', function() {
		// LINKLIST ITEM SHOW/HIDE ELEMENT
		$('.sidebar_widget__linklist .menu_trigger').each(function(i) {
		var targetMenu = '#' + $(this).data('submenu');
	
		$(this).on('click', function(e){
				if ($(this).hasClass('active')){
					$(targetMenu).hide(300);
					$(this).removeClass('active');
				} else {
					$(targetMenu).show(300);
					$(this).addClass('active');
				};
			});
		});
	});
})(jQuery);
{% endjavascript %}
																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																							